.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

#Text {
        width: 80vw; 
        height: 60vh; 
        resize: vertical;
}
   
#articleForm {
        height: 80vh;
        margin: auto; 
        display: flex; 
        flex-direction: column; 
        justify-content: center; 
        align-items: center;
}