.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px auto;
    max-width: 1200px;
}

.container > div {
    margin-right: 20px;
}

h1 {
    margin-bottom: 10px;
}
