<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="~/js/mathjax-scripts.js"></script>
     <script>
        window.onload = function() {
            var usernameElement = document.getElementById("username");
            usernameElement.textContent = '@AlgoLibrary.SessionParameters.UserName';
        };
    </script>
</head>
<body>
    <menu id="menu">
        <div class="left">
             <a href="~/Plan/Plan">План изучения</a>
             <a href="~/Home/Index">Конспекты</a>
        </div>
        <div class="right">
            <a id="username"></a>
            <a href="~/Users/Users">Пользователи</a>
            <a href="~/Authorisation/Authorisation">Вход</a>
        </div>
    </menu>  
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
</body>
</html>
