@{
    Layout = "_Layout";
}

<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="~/css/login.css" />
    <link rel="stylesheet" href="~/css/users.css" />
</head>
<body>
    <div class="container form-container">
        <h2>Вход в аккаунт</h2>
        <form asp-controller="Authorisation" asp-action="Login" method="post">
            <div class="form-group">
                <label for="login">Логин:</label>
                <input type="text" id="login" name="login" class="form-control" required/>
            </div>
            <div class="form-group">
                <label for="password">Пароль:</label>
                <input type="password" id="password" name="password" class="form-control" required/>
            </div>
            <button type="submit" class="btn btn-primary">Войти</button>
        </form>
    </div>
</body>
</html>