@model ThemeModel

@{
    Layout = "_Layout";
}

<html>
<head>
    <link rel="stylesheet" href="~/css/users.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/change.css" asp-append-version="true" />
    <script>
            var themeModel = @Html.Raw(Json.Serialize(Model));
            console.log(themeModel);
            document.addEventListener('DOMContentLoaded', function () {
            if (themeModel !== null && themeModel.name !== null) {
                var themeIdInput = document.getElementById('themeId');
                var nameInput = document.getElementById('name');
                var orderNumberInput = document.getElementById('orderNumber');
                header.textContent = "Изменить тему конспектов";
                themeIdInput.value = themeModel.themeId;
                nameInput.value = themeModel.name;
                orderNumberInput.value = themeModel.orderNumber;
            }
        });
    </script>
    <title>Добавить тему конспектов</title>
</head>
<body>
    <h1 id="typePage">Добавить тему конспектов</h1>
    <form method="post" action="/Theme/ThemeChange">
        <input type="hidden" id="themeId" name="themeId" value="" />
        <div class="form-group">
            <label for="name">Тема конспектов:</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>
        <input type="hidden" id="orderNumber" name="orderNumber" value="" />
        <button type="submit" class="btn btn-primary">Сохранить</button>
        <a asp-action="Theme" class="btn btn-primary">Отмена</a>
    </form>
</body>
</html>