@{
    Layout = "_Layout";
}

<html> 
    <head>
        <link rel="stylesheet" href="~/css/rights.css" asp-append-version="true" />
    </head>
   <div class="container">
       <div>Недостаточно прав для просмотра.</div>
    </div>
</html>