@{
    Layout = "_Layout";
}

<html>
<head>
    <title>HomeRedirection</title>
    <link rel="stylesheet" href="~/css/homeRedirection.css" asp-append-version="true" />
</head>
<body>
    <div class="container">
        <div class="contents">
            <a href="~/Theme/Themes" class="btn btn-primary">Темы</a>
            <a href="~/Article/Articles" class="btn btn-primary">Конспекты</a>
        </div>
    </div>
</body>
</html>